.container{
    width: 1300px;
    height: 94vh;
    margin: 0 auto;
    margin-top: 10px;

}
.box{
    width: 55%;
    height: 94vh;
    background-color: #000000;
    float: left;
    
}
.box1{
    width: 45%;
    height: 94vh;
    background-color: #57B8FF;
    float: left;
}
.box_item{
    margin-top: 10rem;
    margin-left: 5rem;
    
}
.box_img{
    width: 30rem;
}
.box_item1{
    width: 30rem;
    font-size: 3rem;
    color: azure;
}
.box1_img{
    margin-top: 5rem;
    margin-left: -5.5rem;
}